@import url(http://fonts.googleapis.com/css?family=Cuprum:400,700&subset=latin,cyrillic);

$color-dark: #1E1E1E;
$color-light: #FFF;
$color-red: #E3353E;

.section-dark {
  color: $color-light;
  background-color: $color-dark;
}

.section-light {
  color: $color-dark;
  background-color: $color-light;
}

#lovemap {
  padding: 0;
  video {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

body {
  font-family: Cuprum, Helvetica, Arial, sans-serif!important;
  font-size: 18px;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.text-block {
  padding-top: 50px;
  padding-bottom: 50px;
}

.block-inline {
  display:inline-block;
}

.img-center-block {
  margin: 30px auto;
}

.mar-top25 {
  margin-top: 25px;
}

a.btn-download {
  color: $color-light;
  background-color: $color-red;
  border: 0px;
  border-radius: 0px;
  padding: 15px 15px;
  font-style: italic;
  font-weight: bold;
  min-width: 300px;
  font-size: 1.3em;
}

header {
  .lang-chooser {
    text-align: right;

    >span {
      display: inline-block;
      margin-top: 20px;
      margin-bottom: 20px;
      font-style: italic;
      color: $color-light;

      a {
        color: $color-light;
        text-decoration: underline;
      }

      .active {
        text-decoration: none;
        color: $color-red;
      }
    }
  }

  img.logo {
    margin: 50px auto;
  }
}

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;

  li {
    display: inline;
    margin: 0 5px;
  }
}



.social-circle li {
  a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 25px;
    background-color: #6A96C7;
  }

  i {
    margin: 0;
    line-height: 50px;
    text-align: center;
    color: #FFF;
  }
}
